# Logs
logs/
*.log

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Typescript outputs
build/

# Configuration files
config.json
.env
*.pem
*.crt
*.key
banned-words.csv

# Local database
database.db

# Tiled local data
*.tiled-session